td:hover {
    background-color: yellow;
}
.center {
    background-color: aliceblue;
}
table {
    border-spacing: 0; 
    text-align: center;
    font-size: 15pt;
    font-weight: bold; 
}
th {
    font-size: 25pt;
}
td {
  border: 1px solid black;
  width: 5em;
  height: 5em;  
}